<div class='container'>
  <div class='row justify-content-center'>
    <div class="col-6">
      <h1>Stupid Coaching</h1>
        <div>
            <p>
              <%= @question  %>
            </p>
            <p>
            <%= "-->#{@coach_answer}" %>
            </p>
          <a href='/ask'>Ask a new question</a>
        </div>
    </div>
  </div>
</div>
