<div class='container pt-5'>
    <div class='row justify-content-center'>
      <div class="col-6">
        <h1>Stupid Coaching</h1>
        <form action="/answer" data-turbo="false">
          <div class= 'mb-3'>
            <label for="exampleInputEmail1" class="form-label">Ask your coach anything</label>
            <input type="text" class="form-control" name='question'>
            <button type="submit" class="btn btn-primary">Ask!</button>
          </div>
        </form>
      </div>
    </div>
</div>
